@charset "utf-8";
*{font-family:'Times New Roman', Times, serif;

}
body{background-image: linear-gradient(to bottom,#292a36,#0818c8,#0b0b0d);}

main{
    display: block;
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px ;
    border-radius:20px;
    width:600px;
    height: 1500px ;
    padding: 5px;
    margin: auto;

}
div#social{
  text-align: center;
    

}

h1{
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: auto;

}
#profile-img{ text-align: center;
}
div{ display: block;
    margin: 0, auto, 0 auto;
    text-align: justify;
}
h2{
    text-align: center;
    display: block;
  
}
h3{
    text-align: center

}

p{
    text-align: justify;
    margin:center;

}
ul{
    text-align: center;
}