@charset "utf-8";
*{font-family:'Times New Roman', Times, serif;

}
body{background-image: linear-gradient(to bottom,#292a36,#0818c8,#0b0b0d);}

div#social{
  text-align: center;
  margin: 0, auto, 0 auto;

}
div#id{
    text-align: justify;
   margin: auto;
    text-shadow: 1px 1px 2px black;
    color: rgb(0, 22, 41);
    margin: 0px, 500px,500px, 500px;
}

h1{
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: auto;

}
h2,h3{ 
    text-align: center;
}
#profile-img{ text-align: center;
}



p{
    text-align: justify;
    margin:center;

}
ul{
    text-align: center;
}